@{      
    ViewData["Title"] = "Submission Completed";
}

@model MovieWebsite.Models.Movies 

<h2> Thank you so much for submitting a movie. </h2>
<h3> Your movie, @Model.Title, has been successfully submitted.</h3>