@{
    ViewData["Title"] = "Joel Hilton's Film Collection";
}

<h1>
    Welcome to my homepage! Here, you will learn about my movie collection!
</h1>

<br /> 

@*Inserted Professional Headshot*@
<h2>Here is my headshot.</h2>
<img src="~/img/JoelHiltonHeadshot.jpg" />

