@{
    ViewData["Title"] = "My Podcasts";
}

@*Brief introduction and link to my podcast page*@ 
<h1> Hello there! Thanks for visiting my Podcast Page!</h1>

<h2>As a movie fanatic, I naturally have my own website. </h2>

<h3> Please click <a href="https://baconsale.com/" target="_blank"> here </a> to visit my podcast's website!</h3>
<br /> <br /> 
